<a href="https://colab.research.google.com/github/Iguruu77/Aulas-Python/blob/main/Aula150425.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

É uma forma concisa e elegante de criar listas em Python a partir de interáveis (como lista, ranges, etc.), aplicando transformações e condições.

In [ ]:
lista = [ação for x in lista2 condição]

In [2]:
notas = [8, 9, 4, 3, 6]
#As notas maiores que 7
maiores = [nota for nota in notas if nota > 7]
print(maiores)

[8, 9]

In [1]:
#Que exibe as notas menores que 5
notas = [8, 9, 4, 3, 6]
menores = [nota for nota in notas if nota < 5]
print(menores)

[4, 3]

In [4]:
#Criar uma lista com os quadrados dos números de 0 a 9
quadrados = [x**2 for x in range(10)]
print(quadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
#List Comprehension com Condicional
#Filtrar apenas os números pares de uma lista
numeros = [1, 2, 3, 4, 5, 6]
pares = [n for n in numeros if n % 2 == 0]
print(pares)

[2, 4, 6]

In [ ]:
#Strings
nome = 'Pablo'
for letra in nome:
  print(letra)

  print(len(nome)) #Imprime o tamanho da string
  print(nome.upper()) #Todos os caracteres maiúsculos
  print(nome.lower()) #Todos os caracteres minusculos

In [7]:
nomes = ['João', 'Ana', 'Epaminondas', 'Godofredo', 'Lair', 'Setembrino']

maisDe5 = [nomes for nomes in nomes if len(nomes) > 4]
print(maisDe5)

['Epaminondas', 'Godofredo', 'Setembrino']

In [12]:
#Caixa alta os nomes com 4 letras ou menos
caixaAlta = [nome.upper() for nome in nomes if len(nome) < 5]
print(caixaAlta)

['JOÃO', 'ANA', 'LAIR']

In [14]:
#Dobrar os números ímpares de uma lista
dobro_impares = [n*2 for n in numeros if n % 2 != 0]
print(dobro_impares)

[2, 6, 10]

In [19]:
#Atribuir 2 pontos as notas menores que 5
notas = [9.0, 4.5, 2.3, 6.0, 8.2, 5.3]

pontos = [notas+2 for notas in notas if notas < 5]
print(pontos)

[6.5, 4.3]

In [20]:
soma = lambda a, b : a+b
print(soma(10, 5))

15

In [22]:
metade = lambda a: a/2
print(metade(9))

4.5

map() - TRANSFORMAR

A função map() aplica uma função a cada item de um iterável

In [ ]:
#list(map(funçãolambda, lista))

In [23]:
#Com map
numeros = [2, 3, 4, 5, 6, 7]
quadrados = list(map(lambda x: x**2, numeros))
print(quadrados)

[4, 9, 16, 25, 36, 49]

In [24]:
#Cria uma lista com o dobro de cada elemento.
numeros = [2, 3, 4, 5, 6, 7]
dobro = list(map(lambda x: x*2, numeros))
print(dobro)

[4, 6, 8, 10, 12, 14]

In [26]:
#Converter uma list de palavras para letras maiúsculas
palavras = ['é', 'Hoje', 'my', 'ConsaGrated']
Upper = list(map(lambda x: x.upper(), palavras))
print(Upper)

['É', 'HOJE', 'MY', 'CONSAGRATED']

In [27]:
numeros = [1, 2 , 3, 4]
pares = list(filter(lambda x: x % 2 == 0, numeros))
print(pares)
# [2, 4]

[2, 4]

In [31]:
#Filtrar apenas palavras com mais de 4 letras
nomes = ['Cristiano', 'Alien', 'Ary', 'Bete', 'Já']

letras4 = list(filter(lambda x: len(x) > 4, nomes))
print(letras4)

['Cristiano', 'Alien']

In [32]:
#Filtrar números maiores que 10

numeros = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

maiores10 = list(filter(lambda x: x > 10, numeros))
print(maiores10)

[12, 14, 16, 18, 20]

Dada a lista abaixo: numeros = [3, 7, 2, 8, 1, 4, 10]

*   Responda às seguintes questões e implemente o código correspondente:

1.   Dobrar todos os números da lista.
*   Você deve usar map() ou filter()?
*   Escreva o código.


2.   Selecionar apenas os números pares.
*   Você deve usar map() ou filter()?
*   Escreva o código.


3.   Criar uma nova lista onde os números pares são dobrados e os ímpares permanecem iguais.
*   Qual estrutura você usaria: map() ou filter() ou list comprehension?
*   Escreva o código.

In [33]:
numeros = [3, 7, 2, 8, 1, 4, 10]
dobro = list(map(lambda x: x*2, numeros))
print(dobro)

[6, 14, 4, 16, 2, 8, 20]

In [34]:
numeros = [3, 7, 2, 8, 1, 4, 10]
pares = list(filter(lambda x: x % 2 == 0, numeros))
print(pares)

[2, 8, 4, 10]

In [38]:
numeros = [3, 7, 2, 8, 1, 4, 10]
paresImpares = [n*2
                if n % 2 == 0
                else n
                for n in numeros]
print(paresImpares)

[3, 7, 4, 16, 1, 8, 20]